[tool.poetry]
name = "Heksher"
version = "0.3.0"
description = "Heksker"
authors = ["Biocatch LTD <serverteam@biocatch.com>"]

[tool.poetry.dependencies]
python = "~3.8"

fastapi = "^0.62.0"
httpx = "^0.16.0"
orjson = "^3.4.0"
pydantic = "^1.7.0"
databases = {version="^0.4.1", extras=['postgresql']}
uvicorn = "^0.13.2"
SQLAlchemy = "1.3.22"  # version 1.4 breaks tests
envolved = "^0.3.0"

alembic = {version="^1.4.3", optional=true}
psycopg2 = {version="^2.8.6", optional=true}
aiologstash = "^2.0.0"
yellowbox = "^0.4.1"
sentry-sdk = "^1.1.0"

[tool.poetry.dev-dependencies]
pytest-asyncio = "*"
pytest-cov = "^2.10"
flake8 = "^3.8.4"
requests = "^2.25.1"
yellowbox = {extras = ["postgresql"], version = "^0.4.0"}
mypy = "^0.902"
types-orjson = "^0.1.1"
isort = "^5.9.1"

[tool.poetry.extras]
alembic = ["alembic", "psycopg2"]

[build-system]
requires = ["poetry>=1.0.0"]
build-backend = "poetry.masonry.api"
