name: Build Docker
on:
  workflow_dispatch:
  push:
    branches:
      - 'releases/**'


jobs:
  build_commit:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Build and push Docker images
      uses: docker/build-push-action@v1.1.0
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        repository: biocatchltd/heksher
        tag_with_sha: true