name: Release
on:
  push:
    branches:
      - 'main'
    tags:
      - '*.*.*'


jobs:
  verify_version:
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: '3.11'
    - name: Version verification
      run: |
        python -m pip install --upgrade pip
        pip install poetry==1.4.0
        [ $(cut -d' ' -f2 <<< $(poetry version)) == ${GITHUB_REF#refs/tags/} ]

  build_release:
    needs: [verify_version]
    if: always()
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Docker meta
      id: meta
      uses: docker/metadata-action@v3
      with:
        images: biocatchltd/heksher
        tags: |
          type=ref,event=branch
          type=semver,pattern={{version}}
          type=semver,pattern={{major}}.{{minor}}
    - name: Login to DockerHub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v1
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
    - name: Build and push Docker images
      uses: docker/build-push-action@v2
      with:
        context: .
        push: true
        tags: ${{ steps.meta.outputs.tags }}

  attach_openapi_to_release:
    needs: [build_release]
    if: github.event_name == 'push' && contains(github.ref, 'refs/tags/')
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python
        uses: actions/setup-python@v2
        with:
          python-version: '3.11'
      - name: install dependenciaes
        run: |
          python -m pip install --upgrade pip
          pip install poetry==1.4.0
          poetry install --no-dev
      - name: create openapi file
        env:
          PYTHONPATH: .
        run: poetry run python tools/generate_openapi.py
      - name: register openapi as artifact
        uses: svenstaro/upload-release-action@v2
        with:
          name: openapi.json

